<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>292783235989-6g40f15kg4gaem82bi1tv1g3ccvstqcd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.292783235989-6g40f15kg4gaem82bi1tv1g3ccvstqcd</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>292783235989-c1v8h770itgor6f94spojc272sl55ov0.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCfh6mfo6ZF1ADpuS2ULaw6eeBJ_0ufBDU</string>
	<key>GCM_SENDER_ID</key>
	<string>292783235989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>gmo.codebase.com</string>
	<key>PROJECT_ID</key>
	<string>demoapp-7f370</string>
	<key>STORAGE_BUCKET</key>
	<string>demoapp-7f370.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:292783235989:ios:233372df0f3e76dd65cc9c</string>
</dict>
</plist>